.container {
  display: flex;
  height: 100vh;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: rgb(235, 239, 242);
}
.postionContainer {
  display: flex;
  justify-content: center;
  overflow: auto;
  padding: 32px;
}
.tableContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #ebeff2;
  width: 100%;
  height: 95%;
  margin-inline: 24px;
  border-radius: 20px;
  display: flex;
  padding: 32px;
  position: relative;
}
.myPagination {
  position: absolute;
  bottom: 34px;
}
