.container {
  width: 245px;
  height: 300px;
  background-color: #fff;
  padding: 16px;
  border-radius: 12px;
}
.flex {
  display: flex;
}
.card_header {
  justify-content: space-between;
  align-items: center;
}
.close {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.number {
  color: #2a3440;
  font-size: 24px;
  font-weight: 600;
}
.name {
  color: #5f6366;
  font-size: 16px;
  margin-top: 8px;
}
.item_container {
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
  cursor: pointer;
}
.item {
  list-style: none;
  color: #2a3440;
  font-size: 16px;
  font-weight: 400;
}
.color {
  color: #f47356;
  cursor: pointer;
}

.button {
  margin-top: 22px;
  width: 212px;
  height: 40px;
  background-color: transparent;
  border: 2px solid #f47356;
  border-radius: 12px;
  color: #f47356;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
.done {
  color: #51db67;
  border: none;
  font-size: 20px;
  font-weight: 600;
}

.ready {
  color: #2a3440;
  border: none;
  font-size: 20px;
  font-weight: 600;
}
.cancelled {
  color: #5f6366;
  border: none;
  font-size: 20px;
  font-weight: 600;
}
.inprocess {
  color: #f47356;
  border: none;
  font-size: 20px;
  font-weight: 600;
}
