.container {
  width: 470px;
  height: 120px;
  background-color: #fff;
  border-radius: 14px;
  position: relative;
  display: flex;
  justify-content: space-between;
  /* gap: 10px; */
}
.image {
  width: 120xp;
  height: 120px;
  border-radius: 12px;
  object-fit: cover;
}
.info_block {
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  margin-right: 50px;
}
.description p {
  color: rgb(42, 52, 64);
  font-size: 12px;
  font-weight: 400;
}
.description h3 {
  color: rgb(42, 52, 64);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.price {
  color: #f47356;
  font-size: 20px;
  font-weight: 600;
}
.counter_block {
  width: 64px;
  height: 120px;
  border-radius: 12px;
  background-color: #f47356;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 12px;
}

.counter_block button {
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}
.counter_block span {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
